# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.SportsSln.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\1234\Documents\GitHub\Nikita\C#\SportsSln\.idea\.idea.SportsSln\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
